<div class="container-fluid flex-grow-1 d-flex">
  <div class="row flex-grow-1">
    <div
      class="col-12 col-sm-6 d-sm-flex d-none justify-content-center align-items-center"
    >
      <img src="images/imagem3.png" class="img-fluid flex-grow-1" />
    </div>

    <div
      class="col-12 col-sm-6 d-flex justify-content-center align-items-center flex-column"
    >
      <!-- <img
        src="images/person.svg"
        style="width: 60%"
        class="img-fluid mx-auto d-sm-none mb-3"
        id="person"
      /> -->

      <p
        class="wd-text-bol text-center me-4 ms-4"
        style="font-size: 1.5rem"
      >
        Esqueceu a Senha?
      </p>

      <div
        class="wd-bg-secondary col-sm-8 p-4 rounded-3 ms-4 me-4 d-flex flex-column justify-content-center align-center"
      >
      
        <p>
          Preencha seu e-mail no campo abaixo e clique em enviar
        </p>

        <div class="row mb-4">
          <div class="form-group col-12">
            <label class="wd-text-bold wd-text-white" for="email" id="email"
              >E-mail</label
            >
            <input
              placeholder="exemplo@exemplo.com"
              type="email"
              class="p-3 p-sm-2 form-control wd-rounded-md"
              id="email"
            />
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-12 d-flex">
            <button onclick="location.href = '/change-password'" class="btn wd-btn-primary p-2 flex-grow-1" type="submit">
              Enviar
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>