<div id="forms">
  <div class="container-fluid">
      <div class="row justify-content-center"> 
          <div class="col-12 col-sm-8"> 
              <h2 class="text-center">Por que o palmeiras é o maior do Brasil?</h2>   
              <br/>
              <div class="mx-auto" style="max-width: 800px"> 
                  <div class="d-flex justify-content-center align-items-center">
                    <select id="select_position" name="escolha">
                      <option value="opcao1">Selecione</option>
                      <option value="opcao1">12 brasileirões</option>
                      <option value="opcao2">Mundial de 1952</option>
                      <option value="opcao3">3 libertadores</option>
                      <option value="opcao3">26 paulistas</option>
                      <option value="opcao3">Todos acima</option>
                  </select>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

